* {
  box-sizing: border-box;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
body {
  padding: 20px;
  background-color: black;
}
h1 {
  text-align: center;
  color: orange;
}

.flex-grid {
  display: flex;
  text-align: center;
  margin: 0 0 20px 0;
}

.flex-grid .col {
  flex: 1;
  margin-left: 20px;
  box-shadow: 2px 2px 2px whitesmoke;
}

.col {
  background: firebrick;
  padding: 40px;
}

.change-1 {
  background-color: green;
}
